.search-bar {
    margin: 20px;
    text-align: center
}

.search-bar input {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-detail .details {
    margin-top: 30px;
    padding: 10px;
    border: : 12px solid black;
    border-radius: 4px;
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;

}

.embed-responsive-item {
  padding-top: 20px;
}

.video-item-img {
    max-width: 74px;
}

.list-group-item {
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    margin: 20px 10px;
    padding: 20px;
}

.list-group-item:hover {
    background-color: #C0C0C0
}

.jumbotron {
  /*height: 250px;*/
   background-image: url("/images/ciprian-boiciuc-193062.jpg");
   background-size: 1600px;
   background-position: 50%;

}

.display-3 {
  font-family: 'Audiowide', cursive;
}

.fa {
  margin-left: 20px;
}

.social {
    height: 150px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: : 100px;

}

.padding {
  padding: 20px;
}

.media-heading {
  padding: 10px 0;
}
.media-object {
  margin-top: 10px;
}
